@import "./colors";

.cart-dropdown__container {
    z-index: 3;
    width: 325px;
    max-height: 577px;
    padding: 32px 16px 32px 16px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $white;
    margin-top: 77px;
    margin-right: 78px;
    display: flex;
    flex-direction: column;
    animation: growDown 300ms ease-in-out;

    transform-origin: top center;

    @media screen and (min-width:1920px) {
        height: fit-content;
        max-height: 677px;
    }

}

.cart-dropdown__title {
    display: flex;
    flex-direction: row;
    margin: 0 0 32px 0;
}

.cart-dropdown__title-text {
    font: 700 16px "Raleway";
    color: $black;
    margin: 0 0 0 0;
    margin-right: 3px;
}

.cart-dropdown__title-value {
    font: 500 16px "Raleway";
    margin: 0 0 0 0;
    color: $black;
}

.cart-item-dropdown__container {
    height: max-content;
    overflow: scroll;
}

.cart-item__container {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 0 21px 0;


    &:last-child {
        margin: 21px 0 0 0;
    }
}

.cart-item-dropdown__product-container {
    width: 136px;
}

.cart-item-dropdown__product-brand {
    font: 300 16px "Raleway";
    color: $black;
    margin: 0 0 5px 0;
}

.cart-item-dropdown__product-title {
    font: 300 16px "Raleway";
    color: $black;
    margin: 5px 0 0 0;
}

.cart-item-dropdown__product-price {
    font: 500 16px "Raleway";
    color: $black;
    margin: 8px 0 8px 0;
}

.cart__buttons-container {
    display: flex;
    flex-direction: column;
}

.cart-item-attributes__group {
    margin: 0 0 8px 0;

    &:last-child {
        margin: 0 0 0 0;
    }
}

.item-dropdown-attribute__name {
    font: 400 14px "Raleway";
    color: $black;
    margin: 2px 0 8px 0;
}

.item-dropdown-attribute__values {
    display: flex;
    flex-direction: row;
}

.item-dropdown-attribute-value__text {
    cursor: default;
    margin: 0 6px 0 6px;
    width: 38px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;
    font: 400 14px "Source Sans Pro";


    &:first-child {
        margin: 0 6px 0 0;
    }

    &:last-child {
        margin: 0 0 0 6px;
    }
}

.item-dropdown__value-text_selected {
    background-color: $black;
    color: $white;
}

.item-dropdown-attribute-value__color {
    cursor: pointer;
    margin: 0 4px 0 4px;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    box-sizing: border-box;

    &:first-child {
        margin: 0 4px 0 0;
    }

    &:last-child {
        margin: 0 0 0 4px;
    }

}

.item-dropdown__value-color_selected {
    width: 16px;
    height: 16px;
    border: 2px solid $green;
    box-sizing: border-box;

}

.value-color_white-border {
    width: 16px;
    height: 16px;
    border: 1px solid $black;
}

.cart__buttons-container {
    width: 24px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons-container__amount-button {
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 0 0 0;
    font: 50 30px "Raleway Thin";
    cursor: pointer;
}

.buttons-container__amount {
    font: 600 16px "Raleway";
    color: $black;

}

.cart-item-dropdown__image-container {
    width: 121px;
    height: 190px;
    display: flex;
    align-items: center;
    margin: 0 0 0 8px;
    background-color: $white;

}

.cart-item-dropdown__image {
    width: 100%;
}

.cart-dropdown__total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 32px 0;
}

.cart-dropdown__total-text {
    font: 500 16px "Roboto";
    color: $black;
}

.cart-dropdown__total-value {
    font: 700 16px "Raleway";
    color: $black;
}

.cart-dropdown__buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-dropdown__view-bag_button {
    width: 140px;
    height: 43px;
    border: 1px solid $black;
    font: 700 14px "Raleway";
    color: $black;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}

.cart-dropdown__checkout_button {
    width: 140px;
    height: 43px;
    font: 700 14px "Raleway";
    color: $white;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.cart-dropdown__checkout_button_inactive {
    width: 140px;
    height: 43px;
    font: 700 14px "Raleway";
    color: $white;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}