$black: #000000;
$green: #5ECE7B;
$white: #ffffff;
$gray: #eeeeee;
$red: #9e0000;
$shadow-color-button: rgba(147, 145, 145, 0.5);
$shadow-color: rgba(168, 172, 176, 0.19);
$background-unactive: rgba(57, 55, 72, 0.22);
$dark-gray_outofstock: #8D8F9A;