@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway Thin";
    src: url("./fonts/Raleway/Raleway-Thin.ttf");
}


@font-face {
    font-family: "Raleway Italica";
    src: url("./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts//Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}