@import "./colors";

.pdp__container {
    background-color: $white;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 100px;
}

.attributes {
    margin: 0 0 20px 0;
}

.pdp__side-images-container {

    margin-left: 16px;
    width: 80px;
    height: 559px;
    overflow: scroll;

}

.pdp__images-preview-container {
    position: relative;
    width: 79px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.pdp__images-preview-container_active {
    border: 1px solid $black;
}

.pdp__images-preview {
    height: 100%;
}

.pdp__images-preview-jacket {
    height: 140%;
}

.pdp__main-photo_container {
    position: relative;
    width: 610px;
    height: 511px;
    overflow: hidden;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdp__main-photo_container_jacket {
    width: 610px;
    height: 511px;
    overflow: hidden;
    background-color: $white;
    display: flex;
    justify-content: center;


}

.pdp__main-photo {
    width: 80%;
}

.pdp__main-photo_jacket {
    display: flex;
    justify-self: center;
    height: 130%;
}

.item-attributes__group {
    margin: 0 0 24px 0;

    &:last-child {
        margin: 0 0 38px 0;
    }
}

.pdp__item-description {
    width: 292px;
    height: max-content;
    display: flex;
    flex-direction: column;

}

.pdp__item-brand {
    font: 600 30px "Raleway";
    color: $black ;
    margin: 0 0 8px 0;
}

.pdp_item-name {
    font: 400 30px "Raleway";
    color: $black ;
    margin: 8px 0 43px 0;
}

.item-attribute__name {
    font: 700 18px "RobotoCondensed";
    color: $black ;
    text-transform: uppercase;
    margin: 0 0 8px 0;

}

.item-attribute__values {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    height: min-content;
}

.attribute-value__text {
    cursor: pointer;
    margin: 0 6px 0 6px;
    width: 65px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;

    &:hover {
        background-color: $black;
        color: $white;
    }

    &:first-child {
        margin: 0 6px 0 0;
    }

    &:last-child {
        margin: 0 0 0 6px;
    }
}

.attribute-value__text_out-of-stock {
    cursor: pointer;
    margin: 0 6px 0 6px;
    width: 65px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;

    &:first-child {
        margin: 0 6px 0 0;
    }

    &:last-child {
        margin: 0 0 0 6px;
    }
}

.value-text__selected {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
}

.attribute-value__color {
    cursor: pointer;
    margin: 0 4px 0 4px;
    width: 35px;
    height: 35px;
    border: 2px solid transparent;

    &:first-child {
        margin: 0 4px 0 0;
    }

    &:last-child {
        margin: 0 0 0 4px;
    }

    &:hover {
        width: 35px;
        height: 35px;
        border: 2px solid $green;

    }

}

.attribute-value__color_out-of-stock {
    cursor: pointer;
    margin: 0 4px 0 4px;
    width: 35px;
    height: 35px;
    border: 2px solid transparent;

    &:first-child {
        margin: 0 4px 0 0;
    }

    &:last-child {
        margin: 0 0 0 4px;
    }



}

.value-color__selected {
    width: 35px !important;
    height: 35px !important;
    border: 2px solid $green  !important;
    ;
}

.color_white-border {
    width: 36px;
    height: 36px;
    border: 1px solid $black;
}

.item-attribute__price {
    display: flex;
    flex-direction: row;
}

.attribute-price_price {
    margin: 0 0 0 0;
    font: 700 24px "Raleway";
    color: $black
}

.pdp__item_warning {
    font: 400 16px "Raleway";
    color: $red;
}