@import "./colors";




.products-block__container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0 80px 0 80px;
    position: relative;
}

.products-block__container_inactive-state {
    width: 100%;
    background-color: rgba(57, 55, 72, 0.22);
    z-index: 1;
    bottom: 0;
    top: 0;
    right: 0;
    position: fixed;
}


.products-block__category {
    font: 400 42px "Raleway";
    margin-left: 22px;
    color: $black;

    text-transform: capitalize;
}

.products-block__items {

    max-width: 100%;
    box-sizing: border-box;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}