.App::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("./fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway Italica";
  src: url("./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts//Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

.header-block__header {
  height: 78px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.header-block__categories-container {
  margin: 0 0 0 85px;
  width: 234px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
}

.header-block__categories {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 0 16px 30px 16px;
  font: 400 16px "Raleway";
  text-transform: uppercase;
  color: #000000;
}

.header-block__categories:hover {
  color: #5ECE7B;
  font: 600 16px "Raleway";
  border-bottom: 2px solid #5ECE7B;
}

.selected {
  color: #5ECE7B;
  font: 600 16px "Raleway";
  border-bottom: 2px solid #5ECE7B;
}

.header-block__icon-container {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.header-block__icon {
  width: 100%;
}

.header-block__actions-container {
  width: 204px;
  height: 40px;
  margin: 0 101px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emptycart-icon-container {
  width: 20px;
  height: 20px;
  margin: 0 0 0 22px;
  cursor: pointer;
  position: relative;
}

.cart__items-amount-icon {
  width: 21px;
  height: 21px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 25px;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 8px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 700 14px "Roboto";
}

.currency-block__container {
  width: 38px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.currency-block__symbol {
  font: 500 18px "Raleway";
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currency-block__arrow-icon-container {
  width: 6px;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

.currency-dropdown__container {
  position: absolute;
  right: 0;
  z-index: 3;
  width: 114px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  margin-top: 80px;
  margin-right: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.currency-dropdown__container .item0 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: 300ms 60ms ease-in-out forwards slideFromTopToBottom;
          animation: 300ms 60ms ease-in-out forwards slideFromTopToBottom;
}

.currency-dropdown__container .item1 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: 300ms 120ms ease-in-out forwards slideFromTopToBottom;
          animation: 300ms 120ms ease-in-out forwards slideFromTopToBottom;
}

.currency-dropdown__container .item2 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: 300ms 180ms ease-in-out forwards slideFromTopToBottom;
          animation: 300ms 180ms ease-in-out forwards slideFromTopToBottom;
}

.currency-dropdown__container .item3 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: 300ms 240ms ease-in-out forwards slideFromTopToBottom;
          animation: 300ms 240ms ease-in-out forwards slideFromTopToBottom;
}

.currency-dropdown__container .item4 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: 300ms 300ms ease-in-out forwards slideFromTopToBottom;
          animation: 300ms 300ms ease-in-out forwards slideFromTopToBottom;
}

.currency-dropdown__item {
  width: 114px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 38px 0 20px;
  height: 62px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.currency-dropdown__item:hover {
  background-color: #eeeeee;
}

.currency-dropdown__text {
  font: 500 18px "Raleway";
}

.currency-dropdown__text:first-child {
  padding-right: 2px;
}

.currency-dropdown__text:last-child {
  padding-left: 2px;
}

@-webkit-keyframes slideFromTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes slideFromTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.products-block__container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 80px 0 80px;
  position: relative;
}

.products-block__container_inactive-state {
  width: 100%;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 1;
  bottom: 0;
  top: 0;
  right: 0;
  position: fixed;
}

.products-block__category {
  font: 400 42px "Raleway";
  margin-left: 22px;
  color: #000000;
  text-transform: capitalize;
}

.products-block__items {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card__container {
  width: 386px;
  height: 444px;
  padding: 16px 16px;
  margin: 51.5px 20px 51.5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.product-card__container:hover .product-card__cart-icon {
  display: block;
}

.product-card__container:hover {
  -webkit-box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.product-card__container-with-cart-icon {
  width: 354px;
  height: 330px;
  position: relative;
}

.product-card__image-container {
  width: 354px;
  height: 330px;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.product-card__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card__image-outofstock {
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}

.product-card__product-name {
  margin: 24px 0 2px 0;
  font: 300 18px "Raleway";
  color: #000000;
}

.product-card__image_jacket {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card__product-price {
  margin: 0 0 2px 0;
  font: 500 18px "Raleway";
  color: #000000;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.product_card__outofstock-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 500 24px "Raleway";
  text-transform: uppercase;
  color: #8D8F9A;
}

.product-card__cart-icon {
  display: none;
  z-index: 6;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -30px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.pdp__container {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 0 100px;
}

.attributes {
  margin: 0 0 20px 0;
}

.pdp__side-images-container {
  margin-left: 16px;
  width: 80px;
  height: 559px;
  overflow: scroll;
}

.pdp__images-preview-container {
  position: relative;
  width: 79px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
  overflow: hidden;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pdp__images-preview-container_active {
  border: 1px solid #000000;
}

.pdp__images-preview {
  height: 100%;
}

.pdp__images-preview-jacket {
  height: 140%;
}

.pdp__main-photo_container {
  position: relative;
  width: 610px;
  height: 511px;
  overflow: hidden;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdp__main-photo_container_jacket {
  width: 610px;
  height: 511px;
  overflow: hidden;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pdp__main-photo {
  width: 80%;
}

.pdp__main-photo_jacket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  height: 130%;
}

.item-attributes__group {
  margin: 0 0 24px 0;
}

.item-attributes__group:last-child {
  margin: 0 0 38px 0;
}

.pdp__item-description {
  width: 292px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pdp__item-brand {
  font: 600 30px "Raleway";
  color: #000000;
  margin: 0 0 8px 0;
}

.pdp_item-name {
  font: 400 30px "Raleway";
  color: #000000;
  margin: 8px 0 43px 0;
}

.item-attribute__name {
  font: 700 18px "RobotoCondensed";
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.item-attribute__values {
  margin: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.attribute-value__text {
  cursor: pointer;
  margin: 0 6px 0 6px;
  width: 65px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000000;
}

.attribute-value__text:hover {
  background-color: #000000;
  color: #ffffff;
}

.attribute-value__text:first-child {
  margin: 0 6px 0 0;
}

.attribute-value__text:last-child {
  margin: 0 0 0 6px;
}

.attribute-value__text_out-of-stock {
  cursor: pointer;
  margin: 0 6px 0 6px;
  width: 65px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000000;
}

.attribute-value__text_out-of-stock:first-child {
  margin: 0 6px 0 0;
}

.attribute-value__text_out-of-stock:last-child {
  margin: 0 0 0 6px;
}

.value-text__selected {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.attribute-value__color {
  cursor: pointer;
  margin: 0 4px 0 4px;
  width: 35px;
  height: 35px;
  border: 2px solid transparent;
}

.attribute-value__color:first-child {
  margin: 0 4px 0 0;
}

.attribute-value__color:last-child {
  margin: 0 0 0 4px;
}

.attribute-value__color:hover {
  width: 35px;
  height: 35px;
  border: 2px solid #5ECE7B;
}

.attribute-value__color_out-of-stock {
  cursor: pointer;
  margin: 0 4px 0 4px;
  width: 35px;
  height: 35px;
  border: 2px solid transparent;
}

.attribute-value__color_out-of-stock:first-child {
  margin: 0 4px 0 0;
}

.attribute-value__color_out-of-stock:last-child {
  margin: 0 0 0 4px;
}

.value-color__selected {
  width: 35px !important;
  height: 35px !important;
  border: 2px solid #5ECE7B !important;
}

.color_white-border {
  width: 36px;
  height: 36px;
  border: 1px solid #000000;
}

.item-attribute__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.attribute-price_price {
  margin: 0 0 0 0;
  font: 700 24px "Raleway";
  color: #000000;
}

.pdp__item_warning {
  font: 400 16px "Raleway";
  color: #9e0000;
}

.button__add-to-cart {
  font: 600 16px "Raleway";
  width: 296px;
  height: 52px;
  margin: 0 0 40px 0;
  background-color: #5ECE7B;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button__add-to-cart_out-of-stock {
  width: 296px;
  height: 52px;
  margin: 0 0 40px 0;
  background-color: #eeeeee;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-dropdown__container {
  z-index: 3;
  width: 325px;
  height: 477px;
  padding: 32px 16px 32px 16px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  margin-top: 77px;
  margin-right: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .cart-dropdown__container {
    height: 677px;
  }
}

.cart-dropdown__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-dropdown__title-text {
  font: 700 16px "Raleway";
  color: #000000;
  margin: 0 0 0 0;
  margin-right: 3px;
}

.cart-dropdown__title-value {
  font: 500 16px "Raleway";
  margin: 0 0 0 0;
  color: #000000;
}

.cart-item-dropdown__container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: scroll;
}

.cart-item__container {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 20px 0;
}

.cart-item-dropdown__product-container {
  width: 136px;
  margin: 0 0 28px 0;
}

.cart-item-dropdown__product-brand {
  font: 300 16px "Raleway";
  color: #000000;
  margin: 0 0 5px 0;
}

.cart-item-dropdown__product-title {
  font: 300 16px "Raleway";
  color: #000000;
  margin: 5px 0 0 0;
}

.cart-item-dropdown__product-price {
  font: 500 16px "Raleway";
  color: #000000;
  margin: 8px 0 8px 0;
}

.cart-item-dropdown__attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-dropdown-attribute__name {
  font: 400 14px "Raleway";
  color: #000000;
  margin: 2px 0 8px 0;
}

.item-dropdown-attribute__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-dropdown-attribute-value__text {
  cursor: default;
  margin: 0 6px 0 6px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000000;
  font: 400 14px "Source Sans Pro";
}

.item-dropdown-attribute-value__text:first-child {
  margin: 0 6px 0 0;
}

.item-dropdown-attribute-value__text:last-child {
  margin: 0 0 0 6px;
}

.item-dropdown__value-text_selected {
  background-color: #000000;
  color: #ffffff;
}

.item-dropdown-attribute-value__color {
  cursor: pointer;
  margin: 0 4px 0 4px;
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
}

.item-dropdown-attribute-value__color:first-child {
  margin: 0 4px 0 0;
}

.item-dropdown-attribute-value__color:last-child {
  margin: 0 0 0 4px;
}

.item-dropdown__value-color_selected {
  width: 24px;
  height: 24px;
  border: 2px solid #5ECE7B;
}

.cart-item-dropdown__buttons-container {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-container__amount-button {
  width: 24px;
  height: 24px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin: 0 0 0 0;
  font: 50 30px "Raleway Thin";
  cursor: pointer;
}

.buttons-container__amount {
  font: 500 16px "Raleway";
  color: #000000;
}

.cart-item-dropdown__image-container {
  width: 121px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 8px;
  background-color: #ffffff;
}

.cart-item-dropdown__image {
  width: 100%;
}

.cart-dropdown__total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-dropdown__total-text {
  font: 500 16px "Roboto";
  color: #000000;
}

.cart-dropdown__total-value {
  font: 700 16px "Raleway";
  color: #000000;
}

.cart-dropdown__buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-dropdown__view-bag_button {
  width: 140px;
  height: 43px;
  border: 1px solid #000000;
  font: 700 14px "Raleway";
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-dropdown__checkout_button {
  width: 140px;
  height: 43px;
  font: 700 14px "Raleway";
  color: #ffffff;
  background-color: #5ECE7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
